@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&display=swap')
	;

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
	font-weight: 400px;
}

h1 {
	text-align: center;
}

.img {
	display: flex;
	padding: 30px;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

.divButton {
	text-align: center;
	padding: 10px;
	gap: 10px;
}

.botaoAcess {
	text-decoration: none;
	border-radius: 12px;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
	height: 50px;
	padding: 10px;
	background-color:#7f849c;
	color: #eee;
}